.app {
  height: 500px;
}

.headings {

}

.brush-selection {
  height: 70px;
}

.paint {
  height: 500px;
}

.palette {
  display: flex;
}

.brush {

}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {

}

.square {
  transition: 0.5s;
}

.color-1 {

}

.color-2 {

}

.color-3 {

}

.color-4 {

}

.color-5 {

}
