.app {
  display: flex;
  flex-direction: column;
  height: 380px;
  align-items: center;
  justify-content: space-between;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brush-selection {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.paint {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.palette {
  display: flex;
  margin-left: -30px;
}

.brush {
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 50px 50px 50px;
  border: 1px solid black;
}

.square {
  transition: 0.5s;
}